body{
	color: #021a40;
	background-color: #c0afb8;
	font-family:"sans serif";
}
.header{
	text-align: center;
	max-height:150px;
	padding: 10px;

}
.header img{
	padding: 10px;
	max-height:100px;
	background-color: #c0afb8;
	border:1px solid #021a40;
}
#slogan{
	font-size: 10px;
	text-decoration: italic;
	text-transform: capitalize;
}
.aboutme {
	text-align: center;
	font-size: 12px;
}
ul{
	list-style-position: inside;
}
.sayhello{
	text-align:center;
	text-decoration: underline;
	font-size: 20px;
	font-weight: 10px;
}
.sayhello a{
	color: #ff7070;
}