body{
	background-image: url("/images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}
 
p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
}

.enter img{
	width:100%;
	height:auto;

}
.header{
	text-align: center;
	max-height:200px;
	padding: 10px;

}
.header img{
	padding: 10px;
	max-height:200px;

}
#slogan{
	font-family: 'Lobster', Georgia, Times, serif;
	text-align: center;
	font-size: 15px;
}
.aboutme {
	border-style: line;
	border-color: #111111;
	border-width: 2px;
	text-align: left;
	font-size: 20px;
	width: 40%;
}
.aboutme h1{
	font-size: 25px;
	text-decoration:underline;
	text-transform: uppercase;
}
.aboutme ul{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	list-style-type: disc;
	display: inline-block;
    text-align:left;
}
.sayhello{
	text-align:center;
	text-decoration: underline;
	font-size: 20px;
	font-weight: 900;
}
.sayhello a{
	color: #FF0066;
	font-size:20px;
	font-weight:900;
}