@font-face {
	font-family: 'Paris Pro';
	src: url("/font/parisproregular.otf");
}
@font-face {
	font-family: 'Signyard One';
	src: url("/font/signyardone.otf");
}
.body {
	background-color: #fffcf5;
}
.enter img{
	width:100%;
	height:auto;
}
.header{
	position:relative;
	background-image: url("/images/colordots.jpg");
	font-family: 'Signyard One';
	font-size: 5em;
	color:#78bba9;
	text-align: center;
	min-height: 200px;
	width:100%;
}
.header #headercontent{
	position: absolute;
	bottom: 0px;
	text-align: center;
	width:100%;
	margin: 0 auto;
}
#slogan{
	font-family: 'Signyard One', Georgia, Times, serif;
	text-align: center;
	font-size: 2em;
}
.circlenav{
	width:525px;
	margin:auto;
}
.border{
	padding:5px;
	display:inline-block;
}
.aboutme {
	width:200px;
	height:200px;
	padding:25px;
	border-radius: 50%;
	line-height:200px;
	background-color: #faa6e4;
	float:left;
	text-align: center;
}
.aboutme a{
	font-family: 'Signyard One';
	font-size: 2em;
	text-decoration:underline;
	text-transform: uppercase;
	color:#fffcf5;
}
.portfolio {
	width:200px;
	height:200px;
	padding:25px;
	border-radius: 50%;
	line-height:200px;
	background-color: #ecda6e;
	float:left;
	text-align: center;
}
.portfolio a{
	font-family: 'Signyard One';
	font-size: 2em;
	text-decoration:underline;
	text-transform: uppercase;
	color:#fffcf5;
}
.clear {
	clear:both;
}
.resume {
	width:200px;
	height:200px;
	padding:25px;
	border-radius: 50%;
	line-height:200px;
	background-color: #6fb8a4;
	float:left;
	text-align: center;
}
.resume a{
	font-family: 'Signyard One';
	font-size: 2em;
	text-decoration:underline;
	text-transform: uppercase;
	color:#fffcf5;
}
.contact {
	width:200px;
	height:200px;
	padding:25px;
	border-radius: 50%;
	line-height:200px;
	background-color: #7cbed8;
	float:left;
	text-align: center;

}
.contact a{
	font-family: 'Signyard One';
	font-size: 2em;
	text-decoration:underline;
	text-transform: uppercase;
	color:#fffcf5;
}
.sayhello{
	text-align:center;
	padding-top: 30px;
}
.sayhello a{
	font-family: 'Signyard One';
	font-size:3em;
	color: #faa6e4;
	padding:2px;
	border:1px solid #faa6e4;
	text-decoration: none;
}