.portfolioframe {
  max-width: 100%;
  margin: 5% auto;
} 
.space{
  padding:5px;
  float:left;
}
.clear{
  display: block;
  clear: both;
  width: 100%;
  padding:5px;
}
#bacon a, #brunch a, #chai a, #cocoa a, #cupcakes a, #nuts a, #photobooth a, #pinecones a, #yarn a {
  display:inline-block;
  padding: 25px;
  width: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: transparent;
  font-weight: bold;
}

#bacon a:hover, #brunch a:hover, #chai a:hover, #cocoa a:hover, #cupcakes a:hover, #nuts a:hover, #photobooth a:hover, #pinecones a:hover, #yarn a:hover {
  background-color: rgba(0,0,0,.6);
  color: white;
}

#bacon {
  width:250px;
  background-image: url("/Photography/images/baconthumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}

#brunch {
  width:250px;
  background-image: url("/Photography/images/brunchthumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}

#chai {
  width:250px;
  background-image: url("/Photography/images/chaithumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}

#cocoa {
  width:250px;
  background-image: url("/Photography/images/cocoathumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}

#cupcakes {
  width:250px;
  background-image: url("/Photography/images/cupcakesthumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}

#nuts {
  width:250px;
  background-image: url("/Photography/images/nutsthumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}

#photobooth {
  width:250px;
  background-image: url("/Photography/images/photobooththumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}

#pinecones {
  width:250px;
  background-image: url("/Photography/images/pineconesthumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}

#yarn {
  width:250px;
  background-image: url("/Photography/images/yarnthumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}
