.portfolioframe {
  max-width: 250px;
} 
#bacon a, #brunch a {
  display:inline-block;
  padding: 25px;
  width: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: transparent;
  font-weight: bold;
  float:left;
}

#bacon a:hover, #brunch a:hover {
  background-color: rgba(0,0,0,.6);
  color: white;
}

#bacon {
  width:250px;
  background-image: url("/Photography/images/baconthumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#brunch {
  width:250px;
  background-image: url("/Photography/images/brunchthumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}