.portfolioframe {
  max-width: 250px;
} 
#bacon a, #brunch a {
  display:block;
  padding: 25px;
  width: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: transparent;
  font-weight: bold;
}

#bacon a:hover, #brunch a:hover {
  background-color: rgba(0,0,0,.6);
  color: white;
}

#bacon {
  width:250px;
  height:100%;
  background-image: url("/Photography/images/baconthumbnail.jpg");
}

#brunch {
  width:250px;
  height:100%;
  background-image: url("/Photography/images/brunchthumbnail.jpg");
}